<section class="banner">
    <h1>Search Books</h1>
</section>
<section class="content">
    <div class="content_inner">
        <div class="form content_left">
            <form action="/books" method="GET">
                <div class="form_box">
                    <div class="form_error"><%- include('../partials/errorMessage.ejs') %></div>
                    <div class="form_inner">
                        <div class="form_item form_item--1of1">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" value="<%= searchOptions.title %>">
                        </div>
                        <div class="form_item form_item--1of1">
                            <label for="publishAfter">Publish After</label>
                            <input type="date" name="publishedAfter" id="publishAfter" value="<%= searchOptions.publishedAfter %> ">
                        </div>
                        <div class="form_item form_item--1of1">
                            <label for="publishBefore">Publish Before</label>
                            <input type="date" name="publishedBefore" id="publishBefore" value="<%= searchOptions.publishedBefore %> ">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="cards content_right">
            <% if(books.length > 0){ %>   
                <% books.forEach(book => { %>
                    <div class="card card--1of4">
                        <div class="card_inner"> 
                            <a href="/books/<%= book.id %>">
                                <img src="<%= book.coverImagePath %> ">
                            </a>
                        </div>
                    </div>
                <% }) %> 
            <% } else { %> 
                <div class="no-item-found">
                    <p>No book have been added yet, click <a href="/books/new">here</a> to add one</p>
                </div>
            <% } %> 
        </div>
    </div>
</section>
