<section class="banner">
    <h1>Author Details</h1>
</section>
<section class="content content--details">
    <div class="content_inner">
        <div class="boxes">
            <div class="box">
                <div class="box_left">
                    <div class="box_image">
                        <img src="<%= author.photoPath %>" alt="<%= author.name %>">
                    </div>
                </div>
                <div class="box_right">
                    <h2 class="box_name"><%= author.name %></h2>
                    <h3 class="box_title"><%= author.title %></h3>
                    <div class="box_desc">
                        <p><%= author.description %> </p>
                    </div>
                    <div class="box_btns">
                        <div class="box_btn">
                            <a href="/authors/<%= author.id %>/edit" class="btn btn--primary">Edit</a>
                        </div>
                        <div class="box_btn">
                            <%- include('../partials/deleteForm', { url: `/authors/${author.id}`, type: 'author'}) %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <% if(booksByAuthor.length > 0) { %> 
                <h4>Books by author</h4>
                <div class="slider_items">
                    <% booksByAuthor.forEach(book => { %> 
                        <div class="slider_item">
                            <div class="slider_item-inner">
                                <a href="/books/<%= book.id %> ">
                                    <img src="<%= book.coverImagePath %>" alt="cover">
                                </a>
                            </div>

                        </div>
                    <% }) %>
                </div>
            <% } %> 
        </div>
    </div>
</div>